.headers{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    padding: 20px;
    background-color: black;
    top: 0;
    right: 0;
    position: absolute;
}

.headers-left{
    display: flex;
    color: white;
    flex-direction: row;
    margin-right: 80px;
}

.headers-left h1{
    font-size: 16;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;
}

.headers img{
    width: 45px;
    height: 45px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
}