.headers {
    position: absolute; 
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    padding: 20px;
    background-color: black;
    z-index: 10;
  }
  .headers-left {
    margin-right: 150px;
    flex-direction: row;
    display: flex;
  }
  .headers-left p{
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .headers img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
  }
  