.main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  
}

.type {
  color: rgb(7, 113, 95);
  font-size: 36px;
  font-weight: bold;
  margin: 10px;
  position: absolute;
  top: 15%;
  left: 55%;
  text-align: center;
  transform: translateX(-70%);

}


.intro {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  width: 80%; 
  margin: 0 auto; 
  gap: 20px; 
}


.profile-image img {
  height: 500px; 
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 2s ease;
}

.profile-image img:hover{
  transform: scale(1.13);
}
.intro-text{
display: flex;
 justify-content: center;
 flex-direction: column;
margin-left: 20px;
}

.intro-text h1{
 color: black;
 font-size: 32px;
 font-weight: 700;
 margin: 0 0 10 0px;
}

.intro-text p{
  color: black;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}