.App {
  background-color: black; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}
